##################################
######## Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance
mapcycle="mapcycle_mvm_1.txt"
servicename="mvm_1"
maxplayers="32"
port="27315"
sourcetvport="27320"
clientport="27307"
defaultmap="mvm_ghost_town"
mvm_mission_cycle="mvm_halloween.res"

fn_parms(){
parms="-game tf -strictportbind -ip ${ip} -port ${port} +clientport ${clientport} +tv_port ${sourcetvport} +map ${defaultmap} +mapcyclefile ${mapcycle} +servercfgfile ${servercfg} -maxplayers ${maxplayers} +sm_basepath addons/${servicename} -replay +tf_mvm_missioncyclefile ${mvm_mission_cycle}"
}
