*.bsp
*.bz2
*.log
*.vpk
*.cache
*.res
*.bin
serverfiles/tf/maps/*
serverfiles/bin/*
serverfiles/hl2/*
serverfiles/platform/*
serverfiles/srcds_linux
serverfiles/srcds_run
serverfiles/steam_appid.txt
serverfiles/thirdpartylegalnotices.txt
serverfiles/steamapps/*
serverfiles/tf/workshop/*
serverfiles/tf/stats.txt
serverfiles/tf/steam.inf
serverfiles/tf/bin/*
serverfiles/tf/logs*
serverfiles/tf/materials/*
serverfiles/tf/media/*
serverfiles/tf/replay/*
serverfiles/tf/resource/*
serverfiles/tf/scripts/*
*.so
*.old

